// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$dark-green: rgb(8, 45, 15);
$dark-green-transp: rgba(8, 45, 15, 0.624);
$green: #729b79e6;
$light-green: rgb(186, 205, 176);
$light-green-transp: rgba(186, 205, 176, 0.9);
$lillac: #bca0bc;
$plum: #F9B9F2;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white-very-transp: rgba(255, 255, 255, 0.3)
