<div class="container container-green my-5 rounded shadow-sm p-4 text-center">
  <h1 class="m-5">Edit book <%= @booking.plant.common_name %></h1>
  <%= render "form", plant: @plant, booking: @booking %>
</div>
