.card {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  color: $dark-green;

  a {
    color: $dark-green;
    text-decoration: none;
  }

  img {
    height: 200px;
  }
}

.card-infos {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  color: $dark-green;
  text-align: left;
}
.card-img-top {
  min-height: 70%;
}
