.chevron {
  font-size: 2rem;
  text-shadow: 3px 0 $white-very-transp, -3px 0 $white-very-transp, 0 3px $white-very-transp, 0 -3px $white-very-transp,
  2px 2px $white-very-transp, -2px -2px $white-very-transp, 2px -2px $white-very-transp, -2px 2px $white-very-transp;

  a {
    color: $green;
  }

  a:hover {
    color: $green;
  }
}
