.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  box-shadow: 0px 4px 17px 2px rgba(8, 45, 15, 0.624);
}

.navbar h2 {
  color: $light-green;
}

.navbar .logo {
  color: $light-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar a {
  color: $light-green
}
