.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  box-shadow: 0px 4px 17px 2px $dark-green-transp;
}

.navbar h2 {
  color: $light-green;
}

.navbar .logo {
  color: $light-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar a {
  color: $light-green;

  &:hover {
    color: $light-green;
  }
}

.dropdown-menu {
  background-color: $dark-green;
  border: none;
  box-shadow: 0px 4px 17px 2px $dark-green-transp;
}

.dropdown-item:hover {
  background-color: $green;
}
